<launch>
 <group ns="turtlebot1">
  <include file="$(find turtlesim_nav)/launch/navigation_1.launch" />
<!--  <include file="$(find msb_interface)/msb_mulag.launch" /> -->
 </group>
 
 <group ns="turtlebot2">
  <include file="$(find turtlesim_nav)/launch/navigation_2.launch" />
<!--  <include file="$(find msb_interface)/msb_mulag.launch" /> -->
 </group>

 <arg name="map_file" default="$(find turtlesim_nav)/map/world_multiplanner.yaml"/>

<!--- Run map_server -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
 
</launch>

