<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<param name="/use_sim_time" value="true"/>
	<include file="$(find real_robot_controller)/launch/multi_global_planner_server.launch">
		<arg name="rob_1" value="robot_0"/>
		<arg name="rob_2" value="robot_1"/>
		<arg name="map" value="simple_lowres.png"/>
		<arg name="fname" value="simple_lowres.pkl" />
	</include>
	<include file="$(find mybot_gazebo)/launch/robots.launch" />
	<include file="$(find mybot_gazebo)/launch/map_lowres_stage.launch" >
		<arg name="rob_1" value="robot_0"/>
		<arg name="rob_2" value="robot_1"/>
	</include>

	<node pkg="real_robot_controller" name="job_publisher_rob_id" type="job_publisher_rob_id.py" output="screen" />

</launch>
