<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find real_robot_controller)/launch/multi_global_planner_server.launch">
		<arg name="rob_1" value="turtlebot1"/>
		<arg name="rob_2" value="turtlebot2"/>
		<arg name="map" value="world_multiplanner.png"/>
		<arg name="fname" value="world_multiplanner.pkl" />
	</include>
	<include file="$(find turtlesim_nav)/launch/turtlesim_2robs.launch" />

	<node pkg="real_robot_controller" name="job_publisher_rob_id" type="job_publisher_rob_id.py" output="screen" />

</launch>
